.profile__button-add {
    background: transparent;
    border: 2px solid white;
    width: 150px;
    height: 50px;
    align-self: center;
    justify-self: end;
    grid-column-start: 4;
    cursor: pointer;
    border-radius: 2px;
}

.profile__button-add:hover {
    opacity: 60%;
}

@media screen and (max-width: 879px) {
    .profile__button-add {
        width: 100%;
        margin-top: 36px;
    }
}